<html>
  <head>
      <title>Danielle C. Robinson, PhD</title>
    </head>
    <body>
      <div>
      <h1><a href="">Danielle's Blog</a></h1>
    </div>
    <div>
      <p>published: 13.05.2017, 14:05</p>
      <h2><a href="">Post 1</a></h2>
      <p> post text here</p>
      <p>For more, follow me <a href='https://twitter.com/daniellecrobins'>daniellecrobins</a> </p>
  </div>
  <div>
<p>published: 13.05.2017, 14:05</p>
      <h2><a href="">Post2</a></h2>
      <p>post text here</p>
      <p>For more, follow me <a href='https://twitter.com/daniellecrobins'>daniellecrobins</a> </p>
  </div>
</body>
</html>
